*{ margin: 0;
    padding: 0;
}
.calculator-box {
    background-color:  #F5F5F5;
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.calculator-box form {
    margin: 0 4%;
}
.input-box {
    margin: 0 4%;
}
.result {
    background-color: 	#FFFAF0;
}